---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Passionate about:
      <br />
      <ul class="list-disc list-inside">
        <li>DevEx</li>
        <li>DevOps</li>
        <li>Agility</li>
      </ul>
      Currently playing with:
      <br />
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>LLMs</li>
        <li>Astro</li>
        <li>Cloudflare Workers</li>
      </ul>      
    </p>
    <p class="text-sm font-light">
      Outside of work, I burn artwork into blocks of wood for fun and read Tolkien.
    </p>
  </div>
</Card>
